@media (max-width: 640px){

    .buttons{
        flex-direction: column;
    }

    .buttons .btn{
        width: 100%;
        margin-bottom: 10px;
    }

}

@media (max-width: 767.98px){

    #OurGames .carousel-actions{
        flex-direction: column;
    }

    #OurGames .btn-caros{
        width: 100%;
    }
}

/* @media (max-width:991px){

    .service-card,
    .service-img{
        height:300px;
    }

    .service-card h3{
        font-size:1.5rem;
    }

} */