@media (max-width: 640px){

    .buttons{
        flex-direction: column;
    }

    .buttons .btn{
        width: 100%;
        margin-bottom: 10px;
    }

}

@media (max-width: 767.98px){

    #OurGames .carousel-actions{
        flex-direction: column;
    }

    #OurGames .btn-caros{
        width: 100%;
    }
}

@media (max-width: 991px) {
    .navbar-collapse {
        width: 100%;
        overflow-x: hidden;
    }

    .navbar-collapse .navbar-nav {
        width: 100%;
    }

    .navbar-collapse .btn-nav {
        margin-top: 10px;
    }
}